@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{scroll-behavior: smooth;}



header{ background-color: #181824; padding: 10px 0px; position: relative; 
	h3{width: 13%; background: linear-gradient(90deg, #0033ff, #fff, #7562e0); margin-left: 20px; font-family: bold; margin-top: 10px; background-size: 400%; font-weight: 300; font-size: 15px; -webkit-text-fill-color: transparent; background-clip: text; animation: animate 10s linear infinite;}

	@keyframes animate{
		0%{background-position: 0%;}
		100%{background-position: 400%;}
	}
// .links{display: block; position: absolute; right: 200px; top: 20px;  a{text-decoration: none; color: white;}}
// .menu{position: absolute; right: 20px; top: 13px; display: none; img{width: 75%;}}
// .link{margin: 0 10px; }

.links{ width: 70vw; min-width: 600px; display: flex; justify-content: end;  margin: auto; color: white; position: absolute; top: 20px; right: 150px; display: none;

	a{position: relative; text-decoration: none; font-family: bl; color: white; font-size: 18px; margin: 0px 30px; letter-spacing: 0.5px; padding: 0 10px;}
	a:hover{color: #7562E0;}
	a:after{content: ""; position: absolute; background-color: #bdb5eb; height: 3px; width: 0; left: 0; bottom: -8px; transition: 0.3s;}
	a:hover:after{width: 100%;}

}
}


.hero{ background-color: #1A1A29; color: white;
.fato{text-align: center; margin-top: 100px;
	h4{font-size: 15px; font-family: bl; margin-top: 50px;}
	h1{font-size: 30px; margin-bottom: 20px; font-family: bold;}
	// p{font-size: 15px; font-family: light;}

	.wrapper{
		h2{color: #fff; font-size: 25px;}
		span{color: #7562E0; font-family: bold; font-size: 26px;}
	}			

		
	

	.christ{display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 50px; display: none;
	.me{background-color: #7562E0; margin: auto; display: flex; border: 1px solid #7562E0; border-radius: 10px; margin-left: 10px;  a{color: white; text-decoration: none;margin-left: 10px; } width: 200px; height: 50px; justify-content: center; align-items: center;}
	.eye{background-color: #181824; margin: auto; display: flex; width: 200px; height: 50px; border: 2px solid #7562E0; border-radius: 10px; padding: 5px 0px; margin-left: 40px; margin-top: 5px; a{color: white; text-decoration: none; margin-left: 10px; font-family: bl;} justify-content: center; align-items: center; }
}

.ch{ margin-top: 50px; text-align: center;

	.btn{ border: 1px solid #7562e0; padding: 10px 20px; font-size: 20px; font-family: bl; cursor: pointer; margin: 10px; transition: 0.8s; position: relative; overflow: hidden;}

	.btn2{ color: #7562e0;  position: relative; z-index: 1;}
	.btn3{color: #fff ; position: relative; z-index: 1;}

	.btn1:hover,.btn2:hover{ color: white;}
	.btn3:hover{ color: #7562E0;}

	// .btn1::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #3498db; transition: 0.8s; z-index: -1; }
	.btn2::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #7562E0; transition: 0.8s; z-index: -1; }
	.btn3::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #7562E0; transition: 0.8s; z-index: -1; }
	// .btn4::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #3498db; transition: 0.8s; z-index: -1; }
	.btn::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #7562e0; transition: 0.8s;}

	.btn1::before, .btn3::before{top: 0; border-radius: 0 0 50% 50%;}
	.btn2::before, .btn4::before{bottom: 0; border-radius: 50% 50% 0 0;}

	.btn3::before, .btn4::before{height: 180%;}

	.btn1:hover::before, .btn2:hover::before{height: 180%;}
	.btn3:hover::before,.btn4:hover::before{height: 0%;}

}


}
.pic{margin-top: 80px; display: flex; justify-content: center; text-align: center; height: 100%; filter: drop-shadow(80px 50px 100px blue); width: 100%; img{border-radius: 100%; height: 300px; width: 300px;}}

}

.about{ text-align: center; background-color: #1A1A29; padding-bottom: 100px; 
h3{font-size: 25px; font-family: bold; margin-top: -2px; color: #7562E0; padding-top: 100px; margin-bottom: 30px;}
p{color: white; font-size: 15px; font-family: light; padding: 5px 80px;}
.pa p{color: #7562E0; font-size: 80px; margin-left: -280px;}
.ra p{font-size: 10px; font-family: light; margin-top: -100px; margin-left: -10px;}

.row>*{margin-bottom: 10px;}

.purple{background-image: url(./img/desi.jpg); height: 100%; padding-top: 100px; padding-bottom: 10px; margin-bottom: 20px; margin-top: 40px; color: white; img{margin-bottom: 10px;} h4{font-size: 20px; font-family: bl;} transition: 1s;}
.purple:hover{transform: scale(0.8); z-index: 2;}
.box{background-image: url(./img/web.jpg); height: 100%; padding-top: 100px; padding-bottom: 10px;margin-bottom: 10px; margin-top: 40px; color: white; img{margin-bottom: 10px;} h4{font-size: 20px; font-family: bl;} transition: 1s;}
.boxx{background-image: url(./img/DM.jpg); height: 100%; padding-top: 100px; padding-bottom: 10px;margin-bottom: 10px; margin-top: 40px; color: white; img{margin-bottom: 10px;} h4{font-size: 20px; font-family: bl;} transition: 1s;}
.box:hover{transform: scale(0.8); z-index: 2;}

}

.offers{  margin-top: -2px; text-align: center; font-weight: 400; padding-bottom: 80px; margin: 10px;
h3{color: #7562E0; font-size: 25px; font-family: bold; padding-top: 100px; margin-bottom: 80px;}

.row>*{margin-bottom: 10px;}

.offer{ height: 100%; border-radius: 2%; padding-top: 100px; padding-bottom: 20px; margin-bottom: 20px; color: white; img{margin-bottom: 20px;} h4{font-size: 25px; font-family: bl;} p{font-size: 15px; font-family: light;} transition: 0.5s; position: relative; background: #1A1A29; border: 0px;}
.offer:hover{ background: var(--clr);  letter-spacing: 0.1cm; box-shadow: 0 0 35px var(--clr); color: var(--clr);}
.offer:before{content: ""; position: absolute; inset: 2px; background: #27282c;}
.offer span{position: relative; z-index: 1;}
.offer i{position: absolute; inset: 0; display: block;}
.offer i::before{content: ""; position: absolute; top: 0; left: 80%; width: 0px; height: 4px; background: #7562E0; transform: translateX(-50%) skewX(325deg); transition: 0.5s;}
.offer:hover i::before{width: 30px; left: 20px;}

.offer i::after{content: ""; position: absolute; bottom: 0; left: 20%; width: 0px; height: 4px; background: #7562e0; transform: translateX(-50%) skewX(325deg); transition: 0.5s;}
.offer:hover i::after{width: 30px; left: 80%;}




.off{ height: 100%; border-radius: 2%; padding-top: 100px; padding-bottom: 20px; margin-bottom: 20px; color: white; h4{color: #7562E0; font-family: bl; font-size: 25px;} img{margin-bottom: 20px;} p{font-size: 15px; font-family: light;} transition: 0.5s; position: relative; background: #1A1A29; border: 0px;}
.off:hover{ background:  var(--clr); letter-spacing: 0.1cm; box-shadow: 0 0 35px var(--clr); color: var(--clr);}
.off:before{content: ""; position: absolute; inset: 2px; background: #27282c;}
.off span{position: relative; z-index: 1;}
.off i{position: absolute; inset: 0; display: block;}
.off i::before{content: ""; position: absolute; top: 0; left: 80%; width: 0px; height: 4px; background: #fff; transform: translateX(-50%) skewX(325deg); transition: 0.5s;}
.off:hover i::before{width: 30px; left: 20px;}

.off i::after{content: ""; position: absolute; bottom: 0; left: 20%; width: 0px; height: 4px; background: #fff; transform: translateX(-50%) skewX(325deg); transition: 0.5s;}
.off:hover i::after{width: 30px; left: 80%;}


}

.projects{ background-color: #1A1A29; text-align: center; 

 .row>*{margin-bottom: 15px;}

h3{color: #7562E0; font-size: 25px; font-family: bold; padding-top: 150px; }
p{color: white; font-size: 15px; font-family: light; padding: 0px 20px; margin-top: 20px; margin-bottom: 100px;}



.project{ background-color: #31313F; margin-bottom: 30px; padding: 30px; border-radius: 3%; height: 100%; p{margin-bottom: 40px;}}

.image{border: 2px solid #7562E0; border-radius: 5%; 
	// img{border-radius: 5%; height: 100%; animation-name: rotate; animation-duration: 10s; animation-delay: .75s; animation: rotate 10s infinite} 
	// @keyframes rotate{
	// 	0%{transform: rotate(0deg);}
	// 	25%{transform: rotate(90deg);}
	// 	50%{transform: rotate(180deg);}
	// 	100%{transform: rotate(360deg);}
	// }

}

h4{color: #7562E0; margin-top: 30px; font-family: bl; font-size: 20px;}


.view{background-color: #7562E0; color: white; padding: 10px 15px; text-decoration: none; border-radius: 10px;}


.git{color: white; border: 2px solid #7562E0; padding: 8px 15px; text-decoration: none; border-radius: 10px; margin-left: 10px;  background-color: #000; }

 .live{display: flex; justify-content: center; align-items: center; background-color: #31313F; } 
 a{text-decoration: none; position: relative; display: inline-block; padding: 20px 25px; text-transform: uppercase; letter-spacing: 2px; color: #03e9f4; font-size: 1.1rem; font-weight: bold; font-family: bold; transition: 0.5s; overflow: hidden; }
 a:hover{background-color: #03e9f4; color: #050801;
	box-shadow: 0 0 5px #03e9f4,
				0 0 25px #03e9f4,
				0 0 50px #03e9f4,
				0 0 200px #03e9f4;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
a:first-child{filter: hue-rotate(225deg)}
a:last-child{filter: hue-rotate(90deg);}

a span{position:absolute; display: block;}
a span:nth-child(1){top: 0; left: 0; width: 100%; height: 1px; background: linear-gradient(90deg, transparent, #03e9f4); animation: animate1 1s infinite;}

@keyframes animate1{
	0%{left: -100%;}
	100%{left: 100%;}
}

a span:nth-child(2){top: -100%; right: 0; width: 1px; height: 100%; background: linear-gradient(180deg, transparent, #03e9f4); animation: animate2 1s infinite; animation-delay: 0.25s;}

@keyframes animate2{
	0%{top: -100%;}
	100%{top: 100%;}
}

a span:nth-child(3){bottom: 0; right: 0; width: 100%; height: 1px; background: linear-gradient(270deg, transparent, #03e9f4); animation: animate3 1s infinite; animation-delay: 0.5s;}

@keyframes animate3{
	0%{right: -100%;}
	100%{right: 100%;}
}

a span:nth-child(4){bottom: -100%; left: 0; width: 1px; height: 100%; background: linear-gradient(360deg, transparent, #03e9f4); animation: animate4 1s infinite; animation-delay: 0.75s;}

@keyframes animate4{
	0%{bottom: -100%;}
	100%{bottom: 100%;}
}



}

footer{ background-color: #1A1A29; color: white; text-align: center; margin-top: -2px;
h3{color: #7562E0; margin-top: 80px; font-size: 20px; font-family: bold;}
.connect p{font-size: 15px; font-family: light;}

// .icons{margin-bottom: 60px;}



.icons{
	ul{
		display: flex;
	  }
	  ul li{
		position: relative;
		display: block;
		color: #666;
		font-size: 18px;
		height: 40px;
		width: 40px;
		background: #1A1A29;
		line-height: 40px;
		border-radius: 50%;
		margin: 0 15px;
		cursor: pointer;
		transition: .5s;
	  }
	  ul li:before{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		height: inherit;
		width: inherit;
		/* background: #d35400; */
		border-radius: 50%;
		transform: scale(.9);
		z-index: -1;
		transition: .5s;
	  }
	  ul li:nth-child(1):before{
		background: #4267B2;
	  }
	  ul li:nth-child(2):before{
		background: #1DA1F2;
	  }
	  ul li:nth-child(3):before{
		background: #E1306C;
	  }
	  ul li:nth-child(4):before{
		background: #2867B2;
	  }
	  ul li:nth-child(5):before{
		background: #ff0000;
	  }
	  ul li:hover:before{
		filter: blur(3px);
		transform: scale(1.2);
		/* box-shadow: 0 0 15px #d35400; */
	  }
	  ul li:nth-child(1):hover:before{
		box-shadow: 0 0 15px #4267B2;
	  }
	  ul li:nth-child(2):hover:before{
		box-shadow: 0 0 15px #1DA1F2;
	  }
	  ul li:nth-child(3):hover:before{
		box-shadow: 0 0 15px #E1306C;
	  }
	  ul li:nth-child(4):hover:before{
		box-shadow: 0 0 15px #2867B2;
	  }
	  ul li:nth-child(5):hover:before{
		box-shadow: 0 0 15px #ff0000;
	  }
	  ul li:nth-child(1):hover{
		color: #456cba;
		box-shadow: 0 0 15px #4267B2;
		text-shadow: 0 0 15px #4267B2;
	  }
	  ul li:nth-child(2):hover{
		color: #26a4f2;
		box-shadow: 0 0 15px #1DA1F2;
		text-shadow: 0 0 15px #1DA1F2;
	  }
	  ul li:nth-child(3):hover{
		color: #e23670;
		box-shadow: 0 0 15px #E1306C;
		text-shadow: 0 0 15px #E1306C;
	  }
	  ul li:nth-child(4):hover{
		color: #2a6cbb;
		box-shadow: 0 0 15px #2867B2;
		text-shadow: 0 0 15px #2867B2;
	  }
	  ul li:nth-child(5):hover{
		color: #ff1a1a;
		box-shadow: 0 0 15px #ff0000;
		text-shadow: 0 0 15px #ff0000;
	  }
	  /* ul li:hover{
		color: #ffa502;
		box-shadow: 0 0 15px #d35400;
		text-shadow: 0 0 15px #d35400;
	  } */
}


p{font-size: 22px; font-family: bold;}
#pp{ font-size: 22px; font-family: bl; margin-top: 50px;}

form{ border: 0px;
	input{background-color: #32323F; color: #93939A; border: 1px solid #32323F; border-radius: 4px; margin-bottom: 20px; padding: 5px 58px; font-size: 15px; font-family: bl; outline: 0;}
	textarea{background-color: #32323F; color: #93939A; border: 1px solid #32323F; border-radius: 4px;margin-bottom: 20px; font-size: 15px; font-family: bl; padding: 0px 16px; outline: 0;}

	.button{background: none; border: 2px solid #7562e0; border-radius: 8px; font-family: clear; text-transform: uppercase; cursor: pointer; transition: color 0.4s linear; position: relative;}
	.button:hover{color: #7562e0;}

	// .button::before{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; z-index: -1; transition: transform 0.5s; transform-origin: 0 0; transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);}

	// .button1::before{transform: scaleX(0);}
	// .button1:hover::before{transform: scaleX(1);}

}
}

// .copyright{color: #93939A; background-color: #1A1A29; display: flex; justify-content: space-evenly; font-size: 20px; margin-top: -2px; p{margin-bottom: 100px; margin-top: 30px;}}

.copyright{ display: flex; width: 100%;
p{ margin: 0; padding: 0; text-align: center; font-size: 14px; margin-bottom: 40px; margin: 30px; color: transparent; text-transform: uppercase; background-image: linear-gradient(to right , #7562e0, #1A1A29, #fff, #00f,); background-clip: text; animation: animate 20s linear infinite; background-size: 1000%; letter-spacing: 1px;}

@keyframes animate{
	0%{background-position: 0% 100%}
	50%{background-position: 100% 0%;}
	100%{background-position: 0% 100%;}
}
}









/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  


	header{ background-color: #181824; padding: 10px 0px; position: relative; 
		h3{width: 13%; background: linear-gradient(90deg, #0033ff, #BDBDBD, #7562E0); margin-left: 20px; font-family: bold; margin-top: 10px; background-size: 400%; font-weight: 600; font-size: 15px; letter-spacing: 1px; -webkit-text-fill-color: transparent; background-clip: text; animation: animate 10s linear infinite;}

		@keyframes animate{
			0%{background-position: 0%;}
			100%{background-position: 400%;}
		}
    // .links{display: block; position: absolute; right: 200px; top: 20px;  a{text-decoration: none; color: white;}}
    // .menu{position: absolute; right: 20px; top: 13px; display: none; img{width: 75%;}}
	// .link{margin: 0 10px; }

	.links{ width: 70vw; min-width: 600px; display: flex; justify-content: end;  margin: auto; color: white; position: absolute; top: 20px; right: 0px;
	
		a{position: relative; text-decoration: none; font-family: bl; color: white; font-size: 15px; margin: 0px 30px; letter-spacing: 0.5px; padding: 0 10px;}
		a:hover{color: #7562E0;}
		a:after{content: ""; position: absolute; background-color: #bdb5eb; height: 3px; width: 0; left: 0; bottom: -8px; transition: 0.3s;}
		a:hover:after{width: 100%;}

		#home{color: #7562e0;}
	
	}
}
    

.hero{ background-color: #1A1A29; color: white;
	.fato{text-align: center;
	    h4{font-size: 18px; font-family: bl; margin-top: 50px;}
        h1{font-size: 50px; margin-bottom: 20px; font-family: bold;}
        // p{font-size: 15px; font-family: light;}

		.wrapper{
			h2{color: #fff; font-size: 30px;}
			span{color: #7562E0; font-family: bold; font-size: 30px;}
		}			

			
		
    
		.christ{display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 50px; display: none;
		.me{background-color: #7562E0; margin: auto; display: flex; border: 1px solid #7562E0; border-radius: 10px; margin-left: 10px;  a{color: white; text-decoration: none;margin-left: 10px; } width: 200px; height: 50px; justify-content: center; align-items: center;}
		.eye{background-color: #181824; margin: auto; display: flex; width: 200px; height: 50px; border: 2px solid #7562E0; border-radius: 10px; padding: 5px 0px; margin-left: 40px; margin-top: 5px; a{color: white; text-decoration: none; margin-left: 10px; font-family: bl;} justify-content: center; align-items: center; }
    }
	
	.ch{ margin-top: 50px; text-align: center;

		.btn{ border: 1px solid #7562e0; padding: 10px 20px; font-size: 20px; font-family: bl; cursor: pointer; margin: 10px; transition: 0.8s; position: relative; overflow: hidden;}

		.btn2{ color: #7562e0;  position: relative; z-index: 1;}
		.btn3{color: #fff ; position: relative; z-index: 1;}

		.btn1:hover,.btn2:hover{ color: white;}
		.btn3:hover{ color: #7562E0;}

		// .btn1::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #3498db; transition: 0.8s; z-index: -1; }
		.btn2::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #7562E0; transition: 0.8s; z-index: -1; }
		.btn3::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #7562E0; transition: 0.8s; z-index: -1; }
		// .btn4::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #3498db; transition: 0.8s; z-index: -1; }
		.btn::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #7562e0; transition: 0.8s;}

		.btn1::before, .btn3::before{top: 0; border-radius: 0 0 50% 50%;}
		.btn2::before, .btn4::before{bottom: 0; border-radius: 50% 50% 0 0;}

		.btn3::before, .btn4::before{height: 180%;}

		.btn1:hover::before, .btn2:hover::before{height: 180%;}
		.btn3:hover::before,.btn4:hover::before{height: 0%;}

	}


}
	.pic{margin-top: 80px; height: 100%; filter: drop-shadow(80px 50px 100px blue); width: 100%; img{border-radius: 50%;}}

}

.about{ text-align: center; background-color: #1A1A29;
	h3{font-size: 40px; font-family: bold; margin-top: -2px; color: #7562E0; padding-top: 100px; margin-bottom: 30px;}
	p{color: white; font-size: 18px; font-family: clear; padding: 5px 80px;}
	.pa p{color: #7562E0; font-size: 80px; margin-left: -250px;}
	.ra p{font-size: 20px; font-family: light; margin-top: 40px; margin-left: -350px;}

	.purple{background-color: #7562E0; height: 100%; padding-top: 100px; padding-bottom: 10px; margin-bottom: 10px; margin-top: 40px; color: white; img{margin-bottom: 10px;} h4{font-size: 20px; font-family: bl;} transition: 1s;}
	.purple:hover{transform: scale(1.2); z-index: 2;}
	.box{background-color: #BDBDBD; height: 100%; padding-top: 100px; padding-bottom: 10px;margin-bottom: 10px; margin-top: 40px; color: white; img{margin-bottom: 10px;} h4{font-size: 20px; font-family: bl;} transition: 1s;}
	.box:hover{transform: scale(1.2); z-index: 2;}
	
}

.offers{  margin-top: -2px; text-align: center; font-weight: 400; 
	h3{color: #7562E0; font-size: 40px; font-family: bold; padding-top: 180px; margin-bottom: 100px;}

	.offer{ height: 100%; border-radius: 2%; padding-top: 100px; padding-bottom: 20px; margin-bottom: 20px; color: white; img{margin-bottom: 20px;} h4{font-size: 20px; font-family: bl;} p{font-size: 15px; font-family: light;} transition: 0.5s; position: relative; background: #1A1A29; border: 0px;}
	.offer:hover{ background: var(--clr);  letter-spacing: 0.1cm; box-shadow: 0 0 35px var(--clr); color: var(--clr);}
	.offer:before{content: ""; position: absolute; inset: 2px; background: #27282c;}
	.offer span{position: relative; z-index: 1;}
	.offer i{position: absolute; inset: 0; display: block;}
	.offer i::before{content: ""; position: absolute; top: 0; left: 80%; width: 0px; height: 4px; background: #7562e0; transform: translateX(-50%) skewX(325deg); transition: 0.5s;}
	.offer:hover i::before{width: 30px; left: 20px;}

	.offer i::after{content: ""; position: absolute; bottom: 0; left: 20%; width: 0px; height: 4px; background: #7562e0; transform: translateX(-50%) skewX(325deg); transition: 0.5s;}
	.offer:hover i::after{width: 30px; left: 80%;}

	


	.off{ height: 100%; border-radius: 2%; padding-top: 100px; padding-bottom: 20px; margin-bottom: 20px; color: white; h4{color: #7562E0; font-family: bl; font-size: 20px;} img{margin-bottom: 20px;} p{font-size: 15px; font-family: light;} transition: 0.5s; position: relative; background: #1A1A29; border: 0px;}
	.off:hover{ background:  var(--clr); letter-spacing: 0.1cm; box-shadow: 0 0 35px var(--clr); color: var(--clr);}
	.off:before{content: ""; position: absolute; inset: 2px; background: #27282c;}
	.off span{position: relative; z-index: 1;}
	.off i{position: absolute; inset: 0; display: block;}
	.off i::before{content: ""; position: absolute; top: 0; left: 80%; width: 0px; height: 4px; background: blue; transform: translateX(-50%) skewX(325deg); transition: 0.5s;}
	.off:hover i::before{width: 30px; left: 20px;}

	.off i::after{content: ""; position: absolute; bottom: 0; left: 20%; width: 0px; height: 4px; background: blue; transform: translateX(-50%) skewX(325deg); transition: 0.5s;}
	.off:hover i::after{width: 30px; left: 80%;}


}

.projects{ background-color: #1A1A29; text-align: center;
	h3{color: #7562E0; font-size: 40px; font-family: bold; padding-top: 150px; }
	p{color: white; font-size: 15px; font-family: clear; padding: 0px 20px; margin-top: 20px; margin-bottom: 100px;}

	.project{ background-color: #31313F; margin-bottom: 30px; padding: 10px; border-radius: 3%; height: 100%; p{margin-bottom: 20px;}}

	.image{border: 2px solid #7562E0; border-radius: 5%; 
		// img{border-radius: 5%; height: 100%; animation-name: rotate; animation-duration: 10s; animation-delay: .75s; animation: rotate 10s infinite} 
		// @keyframes rotate{
		// 	0%{transform: rotate(0deg);}
		// 	25%{transform: rotate(90deg);}
		// 	50%{transform: rotate(180deg);}
		// 	100%{transform: rotate(360deg);}
		// }
	
	}

	h4{color: #7562E0; margin-top: 30px; font-family: bl; font-size: 20px;}


	.view{background-color: #7562E0; color: white; padding: 10px 15px; text-decoration: none; border-radius: 10px;}


	.git{color: white; border: 2px solid #7562E0; padding: 8px 15px; text-decoration: none; border-radius: 10px; margin-left: 10px;  background-color: #000; }

	 .live{display: flex; justify-content: center; align-items: center; background-color: #31313F; } 
	 a{text-decoration: none; position: relative; display: inline-block; padding: 20px 25px; text-transform: uppercase; letter-spacing: 1px; color: #03e9f4; font-size: 15px; font-weight: bold; font-family: bold; transition: 0.5s; overflow: hidden; }
	 a:hover{background-color: #03e9f4; color: #050801;
		box-shadow: 0 0 5px #03e9f4,
		            0 0 25px #03e9f4,
					0 0 50px #03e9f4,
					0 0 200px #03e9f4;
		-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
	}
	a:first-child{filter: hue-rotate(225deg)}
	a:last-child{filter: hue-rotate(90deg);}

	a span{position:absolute; display: block;}
	a span:nth-child(1){top: 0; left: 0; width: 100%; height: 1px; background: linear-gradient(90deg, transparent, #03e9f4); animation: animate1 1s infinite;}

	@keyframes animate1{
		0%{left: -100%;}
		100%{left: 100%;}
	}

	a span:nth-child(2){top: -100%; right: 0; width: 1px; height: 100%; background: linear-gradient(180deg, transparent, #03e9f4); animation: animate2 1s infinite; animation-delay: 0.25s;}

	@keyframes animate2{
		0%{top: -100%;}
		100%{top: 100%;}
	}

	a span:nth-child(3){bottom: 0; right: 0; width: 100%; height: 1px; background: linear-gradient(270deg, transparent, #03e9f4); animation: animate3 1s infinite; animation-delay: 0.5s;}

	@keyframes animate3{
		0%{right: -100%;}
		100%{right: 100%;}
	}

	a span:nth-child(4){bottom: -100%; left: 0; width: 1px; height: 100%; background: linear-gradient(360deg, transparent, #03e9f4); animation: animate4 1s infinite; animation-delay: 0.75s;}

	@keyframes animate4{
		0%{bottom: -100%;}
		100%{bottom: 100%;}
	}

	

}

footer{ background-color: #1A1A29; color: white; text-align: center; margin-top: -2px;
	h3{color: #7562E0; margin-top: 80px; font-size: 25px; font-family: bold;}
	.connect p{font-size: 20px; font-family: light;}

	// .icons{margin-bottom: 60px;}


	.icons{
		ul{
			display: flex; 
		  }
		  ul li{
			position: relative;
			display: block;
			color: #666;
			font-size: 26px;
			height: 60px;
			width: 60px;
			background: #1A1A29;
			line-height: 60px;
			border-radius: 50%;
			margin: 0 15px;
			cursor: pointer;
			transition: .5s;
		  }
		  ul li:before{
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			height: inherit;
			width: inherit;
			/* background: #d35400; */
			border-radius: 50%;
			transform: scale(.9);
			z-index: -1;
			transition: .5s;
		  }
		  ul li:nth-child(1):before{
			background: #4267B2;
		  }
		  ul li:nth-child(2):before{
			background: #1DA1F2;
		  }
		  ul li:nth-child(3):before{
			background: #E1306C;
		  }
		  ul li:nth-child(4):before{
			background: #2867B2;
		  }
		  ul li:nth-child(5):before{
			background: #ff0000;
		  }
		  ul li:hover:before{
			filter: blur(3px);
			transform: scale(1.2);
			/* box-shadow: 0 0 15px #d35400; */
		  }
		  ul li:nth-child(1):hover:before{
			box-shadow: 0 0 15px #4267B2;
		  }
		  ul li:nth-child(2):hover:before{
			box-shadow: 0 0 15px #1DA1F2;
		  }
		  ul li:nth-child(3):hover:before{
			box-shadow: 0 0 15px #E1306C;
		  }
		  ul li:nth-child(4):hover:before{
			box-shadow: 0 0 15px #2867B2;
		  }
		  ul li:nth-child(5):hover:before{
			box-shadow: 0 0 15px #ff0000;
		  }
		  ul li:nth-child(1):hover{
			color: #456cba;
			box-shadow: 0 0 15px #4267B2;
			text-shadow: 0 0 15px #4267B2;
		  }
		  ul li:nth-child(2):hover{
			color: #26a4f2;
			box-shadow: 0 0 15px #1DA1F2;
			text-shadow: 0 0 15px #1DA1F2;
		  }
		  ul li:nth-child(3):hover{
			color: #e23670;
			box-shadow: 0 0 15px #E1306C;
			text-shadow: 0 0 15px #E1306C;
		  }
		  ul li:nth-child(4):hover{
			color: #2a6cbb;
			box-shadow: 0 0 15px #2867B2;
			text-shadow: 0 0 15px #2867B2;
		  }
		  ul li:nth-child(5):hover{
			color: #ff1a1a;
			box-shadow: 0 0 15px #ff0000;
			text-shadow: 0 0 15px #ff0000;
		  }
		  /* ul li:hover{
			color: #ffa502;
			box-shadow: 0 0 15px #d35400;
			text-shadow: 0 0 15px #d35400;
		  } */
	}


	

	p{font-size: 20px; font-family: bold;}
	#pp{margin-top: 80px; font-size: 25px; font-family: bl;}

	form{ border: 0px;
		input{background-color: #32323F; color: #93939A; border: 1px solid #32323F; border-radius: 4px; margin-bottom: 20px; padding: 5px 60px; font-size: 15px; font-family: bl; outline: 0;}
		textarea{background-color: #32323F; color: #93939A; border: 1px solid #32323F; border-radius: 4px;margin-bottom: 20px; font-size: 15px; font-family: bl; padding: 0px 16px; outline: 0;}

		.button{background: none; border: 2px solid #7562e0; border-radius: 8px; font-family: clear; text-transform: uppercase; cursor: pointer; transition: color 0.4s linear; position: relative;}
		.button:hover{color: #7562e0;}

		// .button::before{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; z-index: -1; transition: transform 0.5s; transform-origin: 0 0; transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);}

		// .button1::before{transform: scaleX(0);}
		// .button1:hover::before{transform: scaleX(1);}

	}
}

// .copyright{color: #93939A; background-color: #1A1A29; display: flex; justify-content: space-evenly; font-size: 20px; margin-top: -2px; p{margin-bottom: 100px; margin-top: 30px;}}

.copyright{ display: flex; width: 100%;
	p{ margin: 0; padding: 0; text-align: center; font-size: 20px; margin-bottom: 40px; margin: 30px; color: transparent; text-transform: uppercase; background-image: linear-gradient(to right ,#7562e0, #1A1A29, #fff, #00f,); background-clip: text; animation: animate 20s linear infinite; background-size: 1000%; letter-spacing: 5px;}

	@keyframes animate{
		0%{background-position: 0% 100%}
		50%{background-position: 100% 0%;}
		100%{background-position: 0% 100%;}
	}
}


}






















/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	header{ background-color: #181824; padding: 10px 0px; position: relative; 
		h3{width: 13%; background: linear-gradient(90deg,#0033ff, #BDBDBD, #7562E0); margin-left: 150px; font-family: bold; margin-top: 10px; background-size: 400%; font-weight: 600; font-size: 28px; letter-spacing: 3px; -webkit-text-fill-color: transparent; background-clip: text; animation: animate 10s linear infinite;}

		@keyframes animate{
			0%{background-position: 0%;}
			100%{background-position: 400%;}
		}
    // .links{display: block; position: absolute; right: 200px; top: 20px;  a{text-decoration: none; color: white;}}
    // .menu{position: absolute; right: 20px; top: 13px; display: none; img{width: 75%;}}
	// .link{margin: 0 10px; }

	.links{ width: 70vw; min-width: 600px; display: flex; justify-content: end;  margin: auto; color: white; position: absolute; top: 20px; right: 150px;
	
		a{position: relative; text-decoration: none; font-family: bl; color: white; font-size: 18px; margin: 0px 30px; letter-spacing: 0.5px; padding: 0 10px;}
		a:hover{color: #7562E0;}
		a:after{content: ""; position: absolute; background-color: #bdb5eb; height: 3px; width: 0; left: 0; bottom: -8px; transition: 0.3s;}
		a:hover:after{width: 100%;}

		#home{color: #7562e0;}
	
	}
}
    

.hero{ background-color: #1A1A29; color: white;
	.fato{text-align: center;
	    h4{font-size: 18px; font-family: bl; margin-top: 50px;}
        h1{font-size: 50px; margin-bottom: 20px; font-family: bold;}
        // p{font-size: 15px; font-family: light;}

		.wrapper{
			h2{color: #fff; font-size: 30px;}
			span{color: #7562E0; font-family: bold; font-size: 30px;}
		}			

			
		
    
		.christ{display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 50px; display: none;
		.me{background-color: #7562E0; margin: auto; display: flex; border: 1px solid #7562E0; border-radius: 10px; margin-left: 10px;  a{color: white; text-decoration: none;margin-left: 10px; } width: 200px; height: 50px; justify-content: center; align-items: center;}
		.eye{background-color: #181824; margin: auto; display: flex; width: 200px; height: 50px; border: 2px solid #7562E0; border-radius: 10px; padding: 5px 0px; margin-left: 40px; margin-top: 5px; a{color: white; text-decoration: none; margin-left: 10px; font-family: bl;} justify-content: center; align-items: center; }
    }
	
	.ch{ margin-top: 50px; text-align: center;

		.btn{ border: 1px solid #7562E0; padding: 10px 20px; font-size: 20px; font-family: bl; cursor: pointer; margin: 10px; transition: 0.8s; position: relative; overflow: hidden;}

		.btn2{ color: #7562E0;  position: relative; z-index: 1;}
		.btn3{color: #fff ; position: relative; z-index: 1;}

		.btn1:hover,.btn2:hover{ color: white;}
		.btn3:hover{ color: #7562E0;}

		// .btn1::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #3498db; transition: 0.8s; z-index: -1; }
		.btn2::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #7562E0; transition: 0.8s; z-index: -1; }
		.btn3::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #7562E0; transition: 0.8s; z-index: -1; }
		// .btn4::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #3498db; transition: 0.8s; z-index: -1; }
		.btn::before{content: ""; position: absolute; left: 0; width: 100%; height: 0%; background: #7562E0; transition: 0.8s;}

		.btn1::before, .btn3::before{top: 0; border-radius: 0 0 50% 50%;}
		.btn2::before, .btn4::before{bottom: 0; border-radius: 50% 50% 0 0;}

		.btn3::before, .btn4::before{height: 180%;}

		.btn1:hover::before, .btn2:hover::before{height: 180%;}
		.btn3:hover::before,.btn4:hover::before{height: 0%;}

	}


}
	.pic{margin-top: 80px; height: 100%; filter: drop-shadow(80px 50px 100px blue); width: 100%; img{border-radius: 100%; height: 400px; width: 400px;}}

}

.about{ text-align: center; background-color: #1A1A29;
	h3{font-size: 40px; font-family: bold; margin-top: -2px; color: #7562E0; padding-top: 100px; margin-bottom: 30px;}
	p{color: white; font-size: 18px; font-family: light; padding: 5px 80px;}
	.pa p{color: #7562E0; font-size: 80px; margin-left: -280px;}
	.ra p{font-size: 20px; font-family: light; margin-top: 40px; margin-left: -450px;}

	.purple{background-color: #7562E0; height: 100%; padding-top: 100px; padding-bottom: 10px; margin-bottom: 10px; margin-top: 40px; color: white; img{margin-bottom: 10px;} h4{font-size: 20px; font-family: bl;} transition: 1s;}
	.purple:hover{transform: scale(1.2); z-index: 2;}
	.box{background-color: #BDBDBD; height: 100%; padding-top: 100px; padding-bottom: 10px;margin-bottom: 10px; margin-top: 40px; color: white; img{margin-bottom: 10px;} h4{font-size: 20px; font-family: bl;} transition: 1s;}
	.box:hover{transform: scale(1.2); z-index: 2;}
	
}

.offers{  margin-top: -2px; text-align: center; font-weight: 400; 
	h3{color: #7562E0; font-size: 40px; font-family: bold; padding-top: 180px; margin-bottom: 100px;}

	.offer{ height: 100%; border-radius: 2%; padding-top: 100px; padding-bottom: 20px; margin-bottom: 20px; color: white; img{margin-bottom: 20px;} h4{font-size: 25px; font-family: bl;} p{font-size: 15px; font-family: light;} transition: 0.5s; position: relative; background: #1A1A29; border: 0px;}
	.offer:hover{ background: var(--clr);  letter-spacing: 0.1cm; box-shadow: 0 0 35px var(--clr); color: var(--clr);}
	.offer:before{content: ""; position: absolute; inset: 2px; background: #27282c;}
	.offer span{position: relative; z-index: 1;}
	.offer i{position: absolute; inset: 0; display: block;}
	.offer i::before{content: ""; position: absolute; top: 0; left: 80%; width: 0px; height: 4px; background: #7562E0; transform: translateX(-50%) skewX(325deg); transition: 0.5s;}
	.offer:hover i::before{width: 30px; left: 20px;}

	.offer i::after{content: ""; position: absolute; bottom: 0; left: 20%; width: 0px; height: 4px; background: #7562E0; transform: translateX(-50%) skewX(325deg); transition: 0.5s;}
	.offer:hover i::after{width: 30px; left: 80%;}

	


	.off{ height: 100%; border-radius: 2%; padding-top: 100px; padding-bottom: 20px; margin-bottom: 20px; color: white; h4{color: #7562E0; font-family: bl; font-size: 25px;} img{margin-bottom: 20px;} p{font-size: 15px; font-family: light;} transition: 0.5s; position: relative; background: #1A1A29; border: 0px;}
	.off:hover{ background:  var(--clr); letter-spacing: 0.1cm; box-shadow: 0 0 35px var(--clr); color: var(--clr);}
	.off:before{content: ""; position: absolute; inset: 2px; background: #27282c;}
	.off span{position: relative; z-index: 1;}
	.off i{position: absolute; inset: 0; display: block;}
	.off i::before{content: ""; position: absolute; top: 0; left: 80%; width: 0px; height: 4px; background: blue; transform: translateX(-50%) skewX(325deg); transition: 0.5s;}
	.off:hover i::before{width: 30px; left: 20px;}

	.off i::after{content: ""; position: absolute; bottom: 0; left: 20%; width: 0px; height: 4px; background: blue; transform: translateX(-50%) skewX(325deg); transition: 0.5s;}
	.off:hover i::after{width: 30px; left: 80%;}


}

.projects{ background-color: #1A1A29; text-align: center;
	h3{color: #7562E0; font-size: 40px; font-family: bold; padding-top: 150px; }
	p{color: white; font-size: 18px; font-family: light; padding: 0px 20px; margin-top: 20px; margin-bottom: 100px;}

	.project{ background-color: #31313F; margin-bottom: 30px; padding: 30px; border-radius: 3%; height: 100%; p{margin-bottom: 40px;}}

	.image{border: 2px solid #7562E0; border-radius: 5%; 
		// img{border-radius: 5%; height: 100%; animation-name: rotate; animation-duration: 10s; animation-delay: .75s; animation: rotate 10s infinite} 
		// @keyframes rotate{
		// 	0%{transform: rotate(0deg);}
		// 	25%{transform: rotate(90deg);}
		// 	50%{transform: rotate(180deg);}
		// 	100%{transform: rotate(360deg);}
		// }
	
	}

	h4{color: #7562E0; margin-top: 30px; font-family: bl; font-size: 25px;}


	.view{background-color: #7562E0; color: white; padding: 10px 15px; text-decoration: none; border-radius: 10px;}


	.git{color: white; border: 2px solid #7562E0; padding: 8px 15px; text-decoration: none; border-radius: 10px; margin-left: 10px;  background-color: #000; }

	 .live{display: flex; justify-content: center; align-items: center; background-color: #31313F; } 
	 a{text-decoration: none; position: relative; display: inline-block; padding: 20px 25px; text-transform: uppercase; letter-spacing: 2px; color: #03e9f4; font-size: 1.1rem; font-weight: bold; font-family: bold; transition: 0.5s; overflow: hidden; }
	 a:hover{background-color: #03e9f4; color: #050801;
		box-shadow: 0 0 5px #03e9f4,
		            0 0 25px #03e9f4,
					0 0 50px #03e9f4,
					0 0 200px #03e9f4;
		-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
	}
	a:first-child{filter: hue-rotate(225deg)}

	a:last-child{filter: hue-rotate(90deg);}

	a span{position:absolute; display: block;}
	a span:nth-child(1){top: 0; left: 0; width: 100%; height: 1px; background: linear-gradient(90deg, transparent, #03e9f4); animation: animate1 1s infinite;}

	@keyframes animate1{
		0%{left: -100%;}
		100%{left: 100%;}
	}

	a span:nth-child(2){top: -100%; right: 0; width: 1px; height: 100%; background: linear-gradient(180deg, transparent, #03e9f4); animation: animate2 1s infinite; animation-delay: 0.25s;}

	@keyframes animate2{
		0%{top: -100%;}
		100%{top: 100%;}
	}

	a span:nth-child(3){bottom: 0; right: 0; width: 100%; height: 1px; background: linear-gradient(270deg, transparent, #03e9f4); animation: animate3 1s infinite; animation-delay: 0.5s;}

	@keyframes animate3{
		0%{right: -100%;}
		100%{right: 100%;}
	}

	a span:nth-child(4){bottom: -100%; left: 0; width: 1px; height: 100%; background: linear-gradient(360deg, transparent, #03e9f4); animation: animate4 1s infinite; animation-delay: 0.75s;}

	@keyframes animate4{
		0%{bottom: -100%;}
		100%{bottom: 100%;}
	}

	

}

footer{ background-color: #1A1A29; color: white; text-align: center; margin-top: -2px;
	h3{color: #7562E0; margin-top: 80px; font-size: 40px; font-family: bold;}
	.connect p{font-size: 20px; font-family: light;}

	// .icons{margin-bottom: 60px;}


	.icons{ 
		ul{
			display: flex; 
		  }
		  ul li{
			position: relative;
			display: block;
			color: #666;
			font-size: 35px;
			height: 30%;
			width: 30%;
			background: #1A1A29;
			line-height: 60px;
			border-radius: 50%;
			margin: 40px 15px;
			cursor: pointer;
			transition: .5s;
		  }
		  ul li:before{
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			height: inherit;
			width: inherit;
			/* background: #d35400; */
			border-radius: 50%;
			transform: scale(.9);
			z-index: -1;
			transition: .5s;
		  }
		  ul li:nth-child(1):before{
			background: #4267B2;
			
		  }
		  ul li:nth-child(2):before{
			background: #1DA1F2;
		  }
		  ul li:nth-child(3):before{
			background: #E1306C;
		  }
		  ul li:nth-child(4):before{
			background: #2867B2;
		  }
		  ul li:nth-child(5):before{
			background: #000;
		  }
		  ul li:hover:before{
			filter: blur(3px);
			transform: scale(1.2);
			/* box-shadow: 0 0 15px #d35400; */
		  }
		  ul li:nth-child(1):hover:before{
			box-shadow: 0 0 15px #4267B2;
		  }
		  ul li:nth-child(2):hover:before{
			box-shadow: 0 0 15px #1DA1F2;
		  }
		  ul li:nth-child(3):hover:before{
			box-shadow: 0 0 15px #E1306C;
		  }
		  ul li:nth-child(4):hover:before{
			box-shadow: 0 0 15px #2867B2;
		  }
		  ul li:nth-child(5):hover:before{
			box-shadow: 0 0 15px #000;
		  }
		  ul li:nth-child(1):hover{
			color: #456cba;
			box-shadow: 0 0 15px #4267B2;
			text-shadow: 0 0 15px #4267B2;
		  }
		  ul li:nth-child(2):hover{
			color: #26a4f2;
			box-shadow: 0 0 15px #1DA1F2;
			text-shadow: 0 0 15px #1DA1F2;
		  }
		  ul li:nth-child(3):hover{
			color: #e23670;
			box-shadow: 0 0 15px #E1306C;
			text-shadow: 0 0 15px #E1306C;
		  }
		  ul li:nth-child(4):hover{
			color: #2a6cbb;
			box-shadow: 0 0 15px #2867B2;
			text-shadow: 0 0 15px #2867B2;
		  }
		  ul li:nth-child(5):hover{
			color: #000;
			box-shadow: 0 0 15px #000;
			text-shadow: 0 0 15px #000;
		  }
		  /* ul li:hover{
			color: #ffa502;
			box-shadow: 0 0 15px #d35400;
			text-shadow: 0 0 15px #d35400;
		  } */
	}
	  

	p{font-size: 20px; font-family: bold;}
	#pp{margin-top: 80px; font-size: 28px; font-family: bl;}

	form{ border: 0px; outline: 0;
		input{background-color: #32323F; color: #93939A; border: 1px solid #32323F; border-radius: 4px; margin-bottom: 20px; padding: 5px 66px; font-size: 15px; font-family: bl; outline: 0;}
		textarea{background-color: #32323F; color: #93939A; border: 1px solid #32323F; border-radius: 4px;margin-bottom: 20px; font-size: 15px; font-family: bl; padding: 0px 16px; outline: 0;}

		.button{background: none; border: 2px solid #7562e0; border-radius: 8px; font-family: bold; text-transform: uppercase; cursor: pointer; transition: color 0.4s linear; position: relative;}
		.button:hover{color: #7562E0;}

		// .button::before{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; z-index: -1; transition: transform 0.5s; transform-origin: 0 0; transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);}

		// .button1::before{transform: scaleX(0);}
		// .button1:hover::before{transform: scaleX(1);}

	}
}

// .copyright{color: #93939A; background-color: #1A1A29; display: flex; justify-content: space-evenly; font-size: 20px; margin-top: -2px; p{margin-bottom: 100px; margin-top: 30px;}}

.copyright{ display: flex; width: 100%; justify-content: center; justify-content: space-evenly;
	p{ margin: 0; padding: 0; text-align: center; font-size: 20px; margin-bottom: 40px; margin: 30px; color: transparent; text-transform: uppercase; background-image: linear-gradient(to right , #7562e0, #1A1A29, #fff, #00f,); background-clip: text; animation: animate 20s linear infinite; background-size: 1000%; letter-spacing: 5px;}

	@keyframes animate{
		0%{background-position: 0% 100%}
		50%{background-position: 100% 0%;}
		100%{background-position: 0% 100%;}
	}
}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
